In [1]:
a="LJ UNIVERSITY"
print(a[1])
print(a[0])
print(a[-1])
print(a[-2])
print(a[-3])

J
L
Y
T
I

In [2]:
print(a[100])

IndexError: string index out of range

In [5]:
print(a[1:8:2])

JUIE

In [23]:
s="LEARNING PYTHON IN LJ UNIVERSITY"
print(s[0:12:1])
print(s[0:7:1])
print(s[0:12:2])
print(s[0:])
print(s[::])
print(s[-1:12:-1])
print(s[:])
print(s[:10])
print(s[9:4:-1])

LEARNING PYT
LEARNIN
LANN Y
LEARNING PYTHON IN LJ UNIVERSITY
LEARNING PYTHON IN LJ UNIVERSITY
YTISREVINU JL NI NO
LEARNING PYTHON IN LJ UNIVERSITY
LEARNING P
P GNI

In [31]:
#mathematical operator in string
# + = concatenation
# * = Repetition 
print("Arman"+"Malik")
print("*\n**\n***\n"*2)

ArmanMalik
*
**
***
*
**
***

In [37]:
s1=input("Enter First String")
s2=input("Enter Second String")
if s1==s2:
    print("Both Are Equal")
elif s1>s2:
    print("S1 Is Greater")
else:
    print("S2 is Greater")

Enter First Stringarman
Enter Second Stringaryan
S2 is Greater

In [44]:
t=("Arman","Aryan","Lucky")
a='-'.join(t)
print(a)

Arman-Aryan-Lucky

In [45]:
name="aryan"
salary=500000000000
age=25
print("{}'s salary is {} and age is {}".format(name,salary,age))
print("{1}'s salary is {0} and age is {2}".format(name,salary,age))

aryan's salary is 500000000000 and age is 25
500000000000's salary is aryan and age is 25

In [60]:
m="LEARNING PYTHON IN LJ UNIVERSITY"
print(len(m))
t="banana"
x=t.rstrip("an")
print(x)
z="          banana        "
x=z.lstrip()
b=z.strip()
print(x)
print(b)
print("from all fruit ",x,"is my favourite ")
print(len(z),len(x))

32
b
banana
banana
from all fruit  banana         is my favourite
24 14

In [67]:
t="hello world"
x=t.upper()
print(x)
b="HEllO WORLD"
x=b.lower()
print(x)
c="hEllO WoRlD"
x=c.swapcase()
print(x)

HELLO WORLD
hello world
HeLLo wOrLd

In [71]:
t="Hello my name is arman"
x=t.title()
print(x)
x=t.capitalize()
print(x)

Hello My Name Is Arman
Hello my name is arman

In [83]:
t="Company123"
print(t.isalnum())
t="Company 123"
print(t.isalnum())
t="Company"
print(t.isalpha())
t="123"
print(t.isdigit())
t="123"
print(t.isnumeric())

True
False
True
True
True

In [86]:
t="hello world"
x=t.islower()
print(x)

True

In [87]:
t="HELLO WORLD"
x=t.isupper()
print(x)

True

In [5]:
s=input("Enter String")
l=0
u=0
for i in s:
    if i.islower():
        l+=1
    elif i.isupper():
        u+=1
    else:
        print("Enter Valid String")
print("Upper Case",u)
print("Lower case",l)

Enter StringDevam
Upper Case 1
Lower case 4

In [9]:
a="myfile"
b="1demo"
c="my_demo"
d="2 demo"
print(a.isidentifier())
print(b.isidentifier())
print(c.isidentifier())
print(d.isidentifier())

True
False
True
False

In [12]:
t="     "
x=t.isspace()
print(x)

True

In [18]:
s=input("Enter String:")
c=0
w=0
for i in s:
    if i.isspace():
        c=c+1
        w=c+1
print("Number Of Space",c)
print("Number of Words",w)

Enter String:Hello How Are You
Number Of Space 3
Number of Words 4

In [32]:
s="learning java is very hard as its java"
print(s.find("Python"))
print(s.find("j",3,10))

-1
9

In [26]:
a="aababcabcdabcdeabcdef"
print(a.count("a"))
print(a.count("a",3,10))

6
2

In [34]:
b=s.replace("java","python",1)
print(b)

learning python is very hard as its java

In [6]:
s="LJ UNIVERSITY"
L=s.split()
print(s)
print(L)
print(type(L))
for i in L:
    print(i)

LJ UNIVERSITY
['LJ', 'UNIVERSITY']
<class 'list'>
LJ
UNIVERSITY

In [24]:
s="07-11-2024"
l=s.split()
print(l)
for i in l:
    print(i)

['07-11-2024']
07-11-2024

In [42]:
import string
print(string.punctuation)
print(len(string.punctuation))
print(type(string.punctuation))
print(str.maketrans("a","b",string.punctuation))
t="ab$xyz@#%abc"
a="ab$xyz@#%abc"
t=t.translate(str.maketrans("","",string.punctuation))
print(t)
a=a.translate(str.maketrans("","","$#%"))
print(a)

!"#$%&'()*+,-./:;<=>?@[\]^_`{|}~
32
<class 'str'>
{97: 98, 33: None, 34: None, 35: None, 36: None, 37: None, 38: None, 39: None, 40: None, 41: None, 42: None, 43: None, 44: None, 45: None, 46: None, 47: None, 58: None, 59: None, 60: None, 61: None, 62: None, 63: None, 64: None, 91: None, 92: None, 93: None, 94: None, 95: None, 96: None, 123: None, 124: None, 125: None, 126: None}
abxyzabc
abxyz@abc

In [45]:
s="hello sam"
x="msa"
y="ejo"
t=s.maketrans(x,y)
print(s.translate(t))

hello joe

In [46]:
t=(10)
print(type(t))

<class 'int'>

In [47]:
t=(10,)
print(type(t))

<class 'tuple'>

In [48]:
t=()
print(type(t))

<class 'tuple'>

In [49]:
t=10,20,30,40
t1=tuple(range(10,20,2))
print(t1)

(10, 12, 14, 16, 18)

In [51]:
t=(10,20,30,40,50,40)
print(t[0])
print(t[1])
print(t[-1])
print(t[-3])
print(t[2:5])
print(t[1::2])

10
20
40
40
(30, 40, 50)
(20, 40, 40)

In [53]:
print(t[-1:-4:-1])

(40, 50, 40)

In [56]:
t1=(10,20,30,40)
t2=(50,60,70,80)
t=t1+t2
print(t)
t3=t*3
print(t3)

(10, 20, 30, 40, 50, 60, 70, 80)
(10, 20, 30, 40, 50, 60, 70, 80, 10, 20, 30, 40, 50, 60, 70, 80, 10, 20, 30, 40, 50, 60, 70, 80)

In [66]:
t=(10,20,30,[40,50,60])
t[3][0]=10
print(t)

(10, 20, 30, [10, 50, 60])

In [67]:
t=(10,20,30,40)
print(len(t))

4

In [75]:
t=(10,20,10,10,30)
print(t.index(10))
print(t.index(20))
print(t.index(30))

0
1
4

In [88]:
t=(40,10,20,30,30)
t1=sorted(t,reverse=True)
print(t1)
t=(40,10,20,30,30)
t1=sorted(t)
print(t1)

[40, 30, 30, 20, 10]
[10, 20, 30, 30, 40]

In [85]:
a="10"
b="20"
c=max(a,b)
d=min(a,b)
print(c)
print(d)

20
10

In [89]:
a="Aryan"
b="Arman"
c=min(a,b)
d=max(a,b)
print(c)
print(d)

Arman
Aryan

In [92]:
t=("200","300","100")
print(max(t))
print(min(t))

300
100